.core-info 
  width 100%
  float left
  padding-top 100px
  padding-bottom 100px
  background #f4f4f4

  .process, .collect, .results
    padding-bottom 30px

    h2 
      width 70%
      margin 30px auto
      color #aaa
      font-size 24px
      font-weight 700

    p 
      width 50%
      margin 25px auto
      font-size 15px
      font-weight 400
      color #aaa
      letter-spacing .8px
      line-height 25px
    
    @media $mobile_breakpoint 
      width 100% !important

  .process
    width 50%
    float left
    text-align center
    
    img 
      margin-top 30px
  .collect 
    width calc("50% - 1px");
    float left
    text-align center
    border-right 1px solid #EAEAEA

  .results 
    width 80%
    margin-left 10%
    float left
    text-align center
    padding-top 70px
    border-top 1px solid #EAEAEA


.product-demonstration
  .print 
    position relative
    display block
    width 80%
    margin 0 auto
    margin-top 100px
    background white
    box-shadow 2px 2px 5px #eee
    border-radius 10px

    img
      display block
      width 500px 
      box-shadow 2px 2px 5px #eee
      overflow hidden

    p 
      width 300px
      float left