.stat
  background #fff
  text-align center
  float      left
  width      33.333%
  padding    50px 0

  .number 
    font-family 'Open Sans', sans-serif;
    font-size   50px
    font-weight 500
    color       #534DB7
    padding     0
    margin      0

  .legend
    font-size   18px
    font-weight 400
    color       #AAA7E2
    margin-top  0

  @media $mobile_breakpoint 
    width 100%