.subscribe-section
  position relative
  width 100%
  height 340px
  overflow auto
  background-image url('../img/bg4.jpg')
  background-size cover
  background-position 50% 50%
  float left
  text-align center
  color #fff
  z-index 0

  .filter
    position absolute
    width 100%
    height 100%
    opacity .8
    bg-gradient()
    
  .content 
    position relative
    z-index 3
    margin-top 100px
    
    h3
      font-size 30px
      font-weight 300

    h2 
      font-size 35px 
      
    .button 
      margin-right 30px
      
.subscribe-bar 
  position fixed
  width 100%
  height 100%
  bottom -100%
  color #fff
  padding-left 45px
  transform translateZ(0)
  bg-gradient()
  transition()

  .close 
    position absolute
    top 30px
    right 80px
    z-index 9999
    cursor pointer
    transition()

    img 
      width 45px

    &:hover 
      transform scale(1.2)

  .call 
    text-align center
    margin-top 23px

  h3 
    font-size 17px
    font-weight 400

  h2 
    font-size 28px
    margin-top -10px
    transition()

  &.show 
    bottom -85%
    cursor pointer

    &:hover 
      h2 
        transform scale(1.1)

  &.open 
    bottom 0
    
    .call 
      margin-top 100px

      h3 
        font-size 20px

      h2 
        margin-top 10px
        font-size 35px
    
  .form 
    width 50%
    margin 0 auto
    margin-top -3px

    .input 
      margin-top 15px

    .name, .email
      width 40%
      margin-left 5%